nav ul {
    display: flex;
}

nav ul li{
    margin-left: 20px;
}

main{
    background-color: antiquewhite;
    padding: 20px;
}
footer{
    background-color: cornflowerblue;
    padding: 8px;
}
header{
    background-color: cornflowerblue;
    padding: 10px;
}